.row h1 {
    color: white;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
    /* display: inline; */
}

.row form {
    color: white;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: bold;
    background-color: rgb(27, 41, 134);
}

.row form input {
    color: black;
    font-size: 15px;
    font-family: Helvetica;
    /* font-weight: bold; */
    border-radius: 5px;
}

.company_id {
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    display: inline;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}