.col div {
    background-color: rgb(0, 14, 108);
    /* background-color: rgb(255, 117, 117); */
    margin: 10px;
    /* border: 1px solid white; */
    color: white;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: bold;
}